table {
    border-style:groove;
    border-color:green;
}

td{
    border-style: groove;
    border-color:chartreuse;
    padding:5px;
}
th{
    border-style: groove;
    border-color:chartreuse;
    padding:5px;
}

.surligne{
    background-color: yellow;
}